jco-spring/src/main/resources/META-INF/schema/sapjco.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://yanzx-dev.cn/develop/schema/jco"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://yanzx-dev.cn/develop/schema/jco">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <xsd:element name="component-scan">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    Scans the classpath for annotated components that will be auto-registered as
	JCo beans. By default, the Spring-provided @JCoBean, @JCoFunctionHandler, @JCoErrorListener,
	@JCoExceptionListener, @JCoStateChangedListener will be detected.
            ]]></xsd:documentation>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports />
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="base-package" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The scan package. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="initialize-task">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Do something after spring context refreshed. ]]></xsd:documentation>
            <xsd:appinfo>
                <tool:annotation><tool:exports /></tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Reference task class that must be implements [JCoContextInitializeTask]. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>